.project
*.DS_Store
*.idea
node_modules
npm-debug.log
lib-cov
coverage.html
selenium-debug.log
/features/reports
phantomjsdriver.log
tests_output
/features/report
*~
\#*
\.#*
package-lock.json
reports
screenshoots
