version: '2.1'

services:
  hub:
    container_name: hub
    image: selenium/hub:2.53.1-beryllium
    environment:
    - TZ=BRT2BRST,M11.1.6/23:59:59,M2.3.6/23:59:59
    ports:
     - '4444:4444'
    networks:
      nightwatch:
        ipv4_address: 172.20.0.2

  firefox:
    container_name: firefox
    image: selenium/node-firefox:2.53.1-beryllium
    environment:
    - HUB_PORT_4444_TCP_ADDR=hub
    - TZ=BRT2BRST,M11.1.6/23:59:59,M2.3.6/23:59:59
    ports:
    - 9000
    depends_on:
    - app
    networks:
      nightwatch:
        ipv4_address: 172.20.0.3

  chrome:
    container_name: chrome
    image: selenium/node-chrome:2.53.1-beryllium
    ports:
    - 9000
    environment:
    - HUB_PORT_4444_TCP_ADDR=hub
    - TZ=BRT2BRST,M11.1.6/23:59:59,M2.3.6/23:59:59
    depends_on:
    - app
    networks:
      nightwatch:
        ipv4_address: 172.20.0.4

  app:
    container_name: app
    image: node:alpine
    environment:
    - HOST=0.0.0.0
    - PORT=4200
    - VUE_APP_API=http://172.20.0.6:8080/api
    - TZ=BRT2BRST,M11.1.6/23:59:59,M2.3.6/23:59:59
    ports:
    - '4200:4200'
    volumes:
    - ./:/ws
    working_dir: /ws/app
    entrypoint: /bin/sh -c 'npm install && npm run serve; tail -f /ws/app/package.json'
    networks:
      nightwatch:
        ipv4_address: 172.20.0.5

  e2e:
    container_name: e2e
    image: node:alpine
    environment:
    - BASE_URL=http://172.20.0.5:4200/
    - TZ=BRT2BRST,M11.1.6/23:59:59,M2.3.6/23:59:59
    ports:
    - '8080:8080'
    volumes:
    - ./:/ws
    working_dir: /ws/e2e
    entrypoint: /bin/sh -c 'npm install; tail -f /ws/e2e/package.json'
    networks:
      nightwatch:
        ipv4_address: 172.20.0.6

volumes:
  data:
    name: nightwatch

networks:
  nightwatch:
    name: nightwatch
    ipam:
      config:
      - subnet: 172.20.0.0/24
